<!-- <br>
<div class="login">
<form #personForm="ngForm" (ngSubmit)="submitForm(personForm)" novalidate>
    
    <div class="form-outline mb-4">
      <input type="email" id="form2Example1" class="form-control" name="email" #email="ngModel" [(ngModel)]="person.email" />
      <label class="form-label" for="form2Example1">Email address</label>
    </div>
  
    
    <div class="form-outline mb-4">
      <input type="password" id="form2Example2" class="form-control" name="password" [(ngModel)]="person.password" #password="ngModel"/>
      <label class="form-label" for="form2Example2">Password</label>
    </div>
  
   
  
   
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
  

  </form>
</div> -->
<!-- <li>
    <button *ngIf="(isAuthenticated$ | async) === false; else logout"
      class="flex items-center transition ease-in delay-150 duration-300 h-10 px-4 rounded-lg hover:border hover:border-sky-400"
      (click)="signIn()"
    >
      <span class="material-icons-outlined text-gray-500">login</span>
      <span>&nbsp;Sign In</span>
    </button>
  
      <ng-template #logout>
        <button 
          class="flex items-center transition ease-in delay-150 duration-300 h-10 px-4 rounded-lg hover:border hover:border-sky-400"
          (click)="signOut()"
        >
          <span class="material-icons-outlined text-gray-500">logout</span>
          <span>&nbsp;Sign Out</span>
        </button>
    </ng-template>
  </li> -->
  <!-- <h1 *ngIf="name$ | async as name">{{name}}</h1> -->